.page_content.ons-page-inner {
    background-color: #E87E04;
}
.heading {
    font-family: 'Bitter', serif;
    color:#E87E04;
    font-size: 30px;
}
.button {
    font-size: 20px;
    width:70%;
    margin-bottom:20px;
    color:#E87E04; 
    border-color:#ECF0F1;
}
#instructions {
    font-family: 'Bitter', serif;
    color:#ECF0F1;
    font-size:25px;
}